*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.jumbotron {
    background-image: url('../images/dumbbell-1966704_1280.jpg');
    height: 80vh;
    background-size: cover;
    color: #fff;
    border-radius: 0px !important;
}

.jumbotron h1 {
    margin: 30px 0;
    font-size: 30px;
    line-height: 1.5;
}

.intro  {
   padding-top: 160px;
}

.intro-img {
    width: 220px;
}
.img-fluid {
    height: 50%;
    max-width: 200%;
    padding-left: 10px;
}
p {
    color: #999;
    line-height: 25px;
}

h2,h3 {
    color: #fff;
}

.footer-main {
    background: #111;
    padding: 80px 0;
}

.segment-two a {
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-two a i {
    font-size: 22px;
    color: #fff;
    padding: 10px 12px;
    text-align: center;
}

a {
   display: inline-block;
   margin: 0 30px 0 0;
}