
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

 /* header */ 
.header {
 width: 100%;
 min-height: 100vh;
 background-image:url(../images/dumbbell-1966704_1280.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 background-size: cover;
}

.header:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(255,255,255,.1), rgba(34,40,49,.1));
}

.bg-dark {
    position: fixed;
    width: 100%;
}

@media(min-width:780px) {
    .bg-dark {
        background-color: transparent!important;
    }
}

.navg a {
    color:yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}
.navg a:hover{
background-color:red;
}


@media(min-width:780px) {
    .text-header {
    min-height: 100vh;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: center;
    margin: auto;
    padding-left: 400px;
}

}
.text-header {
    min-height: 100vh;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: center;
    margin: auto;
}

.text-header h2 {
    font-family: Arial, Helvetica, sans-serif;
     text-align: center;
    position: center;
    color: #ff0000;
    font-size: 3.3em;
}
 .text-header p {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     color:#b20000;
     font-size: 2.1em;
 }
.gap100 {
    padding: 70px 0px;
}

 /* body */ 

 .center h2{
     color: black;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4em;
 }

 .center p{
       font-family: Verdana, Geneva, Tahoma, sans-serif;
     color:grey;
     font-size: 1.1em;
 }

 li {
     color:grey;
     font-family: 'Work sans',sans-serif;
    letter-spacing: 2.5px;
     font-size: 1.1em;
     list-style: none;
     margin-bottom: 5px;
 }

 li::before {
     content: "\1F3CB";
     margin-right: 10px;
 }
  /*main body */ 

  #facilities {
      background-color: #fff;
      padding: 30px 0;
  }

  #facilities h1 {
      font-weight: 900;
      font-size: 34px;
      padding-bottom: 5px;
  }

  .title h1 {
      text-align: center;
      padding: 25px 0;
  }

  .title p {
      text-align: center;
      font-size: 18px;
  }

  .card-body {
      box-shadow: 0 0 25px 10px rgba(0,0,0,.1);

  }

  .card {
      margin: 20px 10px;
  }

  .card-body {
      color: #00cc77;
      text-decoration: skyblue;
      margin-top: auto;
      font-size: 15px;
      font-weight: 700;
  }

  .card-body a:hover {
      color: #6633aa;
      text-decoration: none;
  }
 /* footer*/ 
 .footer-main p {
    color:#fafafa;
    line-height: 25px;
}


.footer-main h2,h3 {
    color: #fff;
}

.footer-main {
    background: #111;
    padding: 80px 0;
}
@media(min-width:780px){
.segment-two {
    padding-left: 200px;
}
}

.segment-two a {
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-two a i {
    font-size: 22px;
    color: #fff;
    padding: 10px 12px;
    text-align: center; 
}

a {
   display: inline-block;
   margin: 0 30px 0 0;
}


 /* Registrer form*/ 


 .registration {
     width: 100%;
 min-height: 100vh;
 background-image:url(../images/istockphoto-579779104-1024x1024.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 background-size: cover;
 }
#ui {
  background-color:#333;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#ui label {
    color: #fff;

}